body {
    background-color: #333; /* dark gray background */
    font-family: Arial, sans-serif; /* sans-serif font */
    margin: 0; /* remove default margin */
    padding: 0; /* remove default padding */
    height: 100vh; /* set height to full viewport height */
    display: flex; /* use flexbox to center content */
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}

.container {
    text-align: center; /* center text horizontally */
}

h1 {
    color: #ffffff; /* white text color */
    font-size: 64px; /* large font size */
    margin: 0; /* remove default margin */
}

p {
    margin-top: 20px; /* add some space between the heading and the link */
}

a {
    color: #ffffff; /* change link color to white */
    text-decoration: none; /* remove the default underline */
}

a:visited {
  color: #ffffff; /* make visited links white too */
}

a:hover {
    text-decoration: underline; /* add underline on hover for better accessibility */
}
